:root {
    --textMarginBottom: 0.8em;
}
*{
    box-sizing: border-box;
}

/*------------------IMPORTANTE----------------*/

body {
    padding-top: 1em;
    margin-bottom: 7em;
}

.red-message {
    color: var(--clr-red-dark);
    text-transform: none;
    text-align: center;
    padding: 0 1em;
    width: 100% !important;
}

.page-title {
    margin: 1em auto;
    text-transform: none;
}

h4 {
    color: var(--clr-grey-1);
    font-size: 1.2em;
}

.input-error {
    border-color: var(--clr-red-dark);
    outline-color: var(--clr-red-dark);
}

.food-container .hr {
    width: 100%;
    margin: 1em auto;
}

.hr {
    width: 100%;
    margin: 2em auto;
}

.macro-color {
    color: var(--clr-red-dark);
}

.food-container .btn {
    display: inline-block;
    background: var(--clr-primary-2);
    color: var(--clr-white);
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
  }
  .food-container .btn:hover {
    background: var(--clr-primary-1);
    color: var(--clr-primary-5);
  }
.btn-2 {
    display: inline-block;
    background: var(--clr-primary-2);
    color: var(--clr-white);
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
  }
  .btn-2:hover {
    background: var(--clr-primary-3);
    /* color: var(--clr-primary-1); */
  }

.close-btn {
    position: absolute;
    right: 0.25em;
    top: 0.25em;

    border: none;
    background-color: transparent;

    font-size: 1.5em;
    color: var(--clr-red-dark) !important;

    cursor: pointer;
}

/*-----------Section-Food-list---------*/

.food-item {
    position: relative;
}

.food-item button {
    border: none;
    background-color: transparent;
}

.selected {
    position: absolute;
    
    top: 0;
    left: 0;
    
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    
    width: 10px;
    height: 100%;
    background-color: var(--clr-green-dark);
    
    transition: all 0.1s linear;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.generic-icon {
    text-align: center;
    vertical-align: middle;
    font-size: 1.4em;
    color: var(--clr-grey-2);
    cursor: pointer;    
    transition: var(--transition);
}
.generic-icon:hover {
    color: var(--clr-grey-5);
   
}

.food-icon-minus,
.food-icon-plus {
    font-size: 1.6em;
    cursor: pointer;
}
.food-icon-minus {
    color: var(--clr-red-dark);
}
.food-icon-plus {
    color: var(--clr-green-dark);
}
/*-----------Section-input-search---------*/

label[for="search"]>h4 {

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.search-container {
    position: relative;
    margin: 0 auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input {
    
    border: 1px solid var(--clr-primary-1);
    width: 100%;
    padding: 0.4em 0.8em;
    font-size: 1.2em;

    border-radius: 0.6em;
}

.search-container input:focus {
    border-color: var(--clr-primary-3);
    outline-color: var(--clr-primary-3);
}

.icon-search {

    position: absolute;
    right: -1.5em;
    margin: 0 0.2em;
    font-size: 1.2em;
    color: var(--clr-primary-5);
    
    cursor:default;
}
/*-----------Section-Navbar---------*/

.header-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    
    height: 5em;
    width: 100%;
    background-color: var(--clr-grey-4);
}

.header-navbar nav {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: var(--clr-white);
}

.header-navbar nav a {
    font-size: 1.2em;
    color: var(--clr-white);
    transition: var(--transition);
}
.header-navbar nav a:hover {
    text-shadow: 3px 2px 15px var(--clr-white);
}

.nav-icons {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.3em;
}

.nav-icon {
    height: fit-content;
}

.icons-text {
    font-size: 0.3em;
    max-width: fit-content;
    text-transform: uppercase;

    -ms-text-size-adjust: auto;
}

/*-----------Food-MAIN-table---------*/

.food-card-grid {
    width: 100%;
    display: grid;
    
    justify-items: center;
    justify-content: center;
    align-content: center;
    gap: 1em;
    grid-template-columns: repeat( 1, 1fr );
}

.row-flex {
    display: flex;
    flex-direction: row;
    
    padding: 1em 0;
    width: 100%;
    
    justify-content: space-around;
    align-items: center;
}

.row-flex>* {
    margin: 0;
}

.food-container {
    margin-bottom: 1em;
    position: relative;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    background: var(--clr-white);
    min-width: 12em;
    width: 95%;
    border-radius: var(--radius);
    
    box-shadow: var(--dark-shadow);
}

.food-container .btn,
.food-container a {
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    letter-spacing: var(--spacing);
    cursor: pointer;
}

.food-container h4 {
    width: 100%;
    text-transform: none;
}
.food-container h3 {
    color: var(--clr-green-dark);
}

.food-description {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;

}

.food-description>* {
    width: max-content;
    /* margin-bottom: var(--textMarginBottom); */
}
/*----------------INPUT-FOOD-CONTAINER------------------*/
.food-container span:not( .sum .food-container span ) {
    font-size: 1.2em;
}

.edit-input-container input {
    padding: 0.1em;
    width: 3em;

    font-size: 1.2em;
}


/*----------------------FORM-INPUT----------------------*/

.form .input-container {
    margin: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 92%;
}

.form .input-container label {
    width: 100%;
}
.form .input-container input {
    width: 100%;
}
.input-container>label{
    width: 30%;
}

.food-input {
    background: var(--clr-grey-10);
    border-color: var(--clr-grey-8);
    border-radius: var(--radius);
    padding: 0.25rem 0.5rem;
}

/*-----------Food-MAIN-table---------*/

.sum {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 3em;
}


/*------------SUMMARY-table----------*/

.summary-table {
    margin: 3em auto auto auto;
    width: 80%;
    table-layout: auto;

    border-spacing: 0;
    
}

.summary-table td, 
.summary-table th {
    background-color: #ffffff;
    background-color: #ffffff75;
    padding: 1em 0;

    text-align: center;
    margin: auto;
}

.summary-table th:first-of-type,
.summary-table td:first-of-type {
    border-right: 2px solid var(--clr-grey-4);
    font-weight: 700;
}

.summary-table th {
  min-width: max-content;
  border: 2px solid var(--clr-grey-4);
  border-top-width: 0;
  border-left-width: 0;
  text-align: center;

  font-weight: 700;
  border-spacing: 1em;

}

.summary-table th {
  border-right-width: 0;
}

.summary-table tr:last-child td {
  border-bottom-width: 0;
}

/*-----------WEIGHT-SETTING----------*/

.weight-setting {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.weight-setting span  {
    font-size: 1.2em;
}

.weight-setting input {
    padding: 0.1em;
    width: 3em;
}

.weight-setting>* {
    margin-right: 0.5em;
}
.weight-setting .icon-btn {
    font-size: 1em;
    position: absolute;
    right: 2em;
    margin: auto;

    background-color: transparent;
    border: none;
}

.edit-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-input-container .icon-btn {
    font-size: 1em;

    margin-left: 1em;

    background-color: transparent;
    border: none;
}

@media screen and (min-width:380px) {
    .page-title {
        width: 20em;
    }

    /*-----------Section-input-search---------*/

    .search-container {
        width: 70%;
    }
}
@media screen and (min-width:476px) {

    /*------------------IMPORTANTE----------------*/
    body {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    /*-----------------SECTION-NAVBAR-------------*/

    .header-navbar {
        position: static;
        
        height: 7em;
        width: 100%;
    }

    .header-navbar nav a {
        font-size: 1.7em;
    }

    .btn-2 {
        margin-top: 1.2rem;
    }

    .container {
        margin-top:4em;
    }

    .food-card-grid {
        justify-items: center;
        gap: 1em;
        grid-template-columns: repeat( auto-fit, minmax( 22em, 1fr ) );
    }
    
    .food-container {
        padding: 1rem 2rem;
        width: 22em;
    }

    .hr {
        margin: 4em auto;
    }

    /*-------------------------INPUT------------------------*/

    .food-container .input-container>input{
        width: 70%;
    }
    .food-container .input-container>button{
        width: 30%;
    }

    /*----------------------FORM-INPUT----------------------*/

    .form .input-container {
        margin: 1em;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    .form .input-container label {
        text-align: left;
        min-width: fit-content;
        width: 30%;
    }
    .form .input-container input {
        width: 70%;
    }
    .input-container>label{
        width: 30%;
    }
    
    .input-container>*{
        margin: 0;
    }
}

@media screen and (min-width:600px) {
    .header-navbar nav {
        margin: auto;
        width: 45em;
    }
}

@media screen and (min-width:800px) {
    .page-title {
        width: 18em;
    }
    .food-container {
        width: 25em;
    }
}

@media screen and (min-width:1050px) {
    
    .header-navbar nav {
        margin: auto;
        width: 55%;
    }

    .food-card-grid {
        grid-template-columns: repeat( auto-fit, minmax( 30em, 1fr ) );
    }

    .food-container {
        width: 28em;
    }
}